@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

}


@layer components {
  .full-container {
    @apply md:w-1/2 mx-auto;
  }

  .btn {
    @apply text-xs font-medium rounded-lg p-3;
  }

  .btn-primary {
    @apply bg-purple-five text-white;
  }

  .btn-danger {
    @apply bg-red-600 text-white font-bold;
  }

  .btn-secondary {
    @apply bg-purple-three;
  }

  .btn-purple {
    @apply bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 rounded-lg;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-lg font-medium
  }

  h3 {
    @apply text-sm font-normal
  }

  p {
    @apply text-xs font-normal text-purple-four
  }
}

body {
  background-color: #ffffff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-move-enter-active,
.fade-move-leave-active {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.fade-move-enter-from,
.fade-move-leave-to {
  transform: translateY(50%);
  opacity: 0;
}


.fade-some-enter-active,
.fade-some-leave-active {
  transition: opacity 0.4s ease;
}
.fade-some-enter-from,
.fade-some-leave-to {
  opacity: 0;
}

